/* add your CSS here */
h3{
  font-size:30px;
  margin: 10px;
}
.box{
  width: 320px;
  heigh: 800px;
  border: 1px solid black;
  padding: 5px 10px 10px;
  margin: 10px
}
.container{
  width: 280px;
  height: 200px;
  border: 1px solid black;
  padding: 5px 10px 120px ;
  margin: 5px;
}
span{
  font-weight: bold;
}
li{
  list-style: none;
}
img{
  margin: 5px;
}
.p1{
  font-style: italic;
}
.p2{
  font-family: "Time New Roman", Times, serif;
}
